body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}
.card {
  position: relative;
  min-width: max-content;
  border: 1px solid salmon;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
}
.user {
  font-size: 1rem;
  font-weight: 600;
}
.time {
  position: absolute;
  top: -5px;
  font-size: 7px;
}
